{% extends "repositories/_base.html" %}
{% from "_macros/autorefresh.html" import autorefresh_toggler, enable_autorefresh with context %}

{% block extrameta %}
{{ enable_autorefresh(3600 + randrange(60)) }}
{% endblock %}

{% block title %}Repository support details - Repology{% endblock %}
{% block header %}Repository support details{% endblock %}

{% block content %}
<div class="container">

<p>A table of supported data fields for each repository. The more data is provided the better. Note that links information is crucial for distinguishing unrelated projects with similar names, so it's now mandatory.</p>

{{ autorefresh_toggler() }}

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
	{% for reponame in repometadata.active_names() %}
	{% set headerevery = 20 %}
	{% if loop.first or (headerevery != 0 and loop.index0 % headerevery == 0) %}
		<tr>
			<th class="text-right">Repository</th>
			<th class="text-center">Summary</th>
			<th class="text-center">Maintainer</th>
			<th class="text-center">Categories</th>
			<th class="text-center">License</th>
			<th class="text-center">Links</th>
			<th class="text-center">Sources</th>
			<th class="text-center">Patches</th>
			<th class="text-center">Build logs</th>
			<th class="text-center">Names</th>
			<th class="text-center">CPE</th>
		</tr>
	{% if loop.first %}</thead><tbody>{% endif %}
	{% endif %}
		<tr id="{{ reponame }}">
			<th class="text-right">
				<a href="{{ url_for(endpoint='repository', repo=reponame) }}">{{ repometadata[reponame].desc }}</a>
			</th>

			{% set fields = repometadata[reponame].used_package_fields %}
			{% set link_types = repometadata[reponame].used_package_link_types %}

			<td class="text-center">{% if 'comment' in fields %}✔{% endif %}</td>
			<td class="text-center">{% if 'maintainers' in fields %}✔{% endif %}</td>
			<td class="text-center">{% if 'category' in fields %}✔{% endif %}</td>
			<td class="text-center">{% if 'licenses' in fields %}✔{% endif %}</td>
			<td class="text-center">
				{%- if 0 in link_types or 1 in link_types %}✔
				{%- else %}<span class="text-danger" title="Repository must provide link to upstream">✘</span>{% endif -%}
			</td>
			<td class="text-center">
				{%- if 7 in link_types or 9 in link_types or 10 in link_types %}✔
				{%- elif repometadata[reponame].type != 'repository' %}-
				{%- else %}<span class="text-danger" title="Repository must provide link to package sources">✘</span>{% endif -%}
			</td>
			<td class="text-center">{% if 11 in link_types or 12 in link_types %}✔{% endif %}</td>
			<td class="text-center">{% if 13 in link_types or 14 in link_types or 27 in link_types %}✔{% endif %}</td>
			<td class="text-center">
				{%- if 'srcname' in fields %}<abbr title="source (package) name">s</abbr>{% endif -%}
				{%- if 'binname' in fields %}<abbr title="binary (package) name">b</abbr>{% endif -%}
				{%- if 'binnames' in fields %}<abbr title="binary (package) names taken from source packages">B</abbr>{% endif -%}
			</td>
			<td class="text-center">{% if 'cpe_product' in fields or 'cpe_vendor' in fields %}✔{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div> {#- container #}
{% endblock %}
