{% extends "project/_base.html" %}
{% from "_macros/link_status.html" import link_status %}
{% from "_macros/links.html" import format_link_type %}

{% block title %}{{ name }} packages - Repology{% endblock %}
{% block header %}Packages for <strong>{{ name }}</strong>{% endblock %}
{% block description %}Information on all packages for project {{ name }}{% endblock %}

{% block content %}
<div class="container">

<p><b>{{ packages|length }}</b> package(s) known</p>

<div class="row">
{% for package in packages %}
{% if not loop.first and loop.index0 % 3 == 0 %}
</div>
<div class="row">
{% endif %}
	<div class="col-md-4">
		<div class="panel panel-version-{{ package.versionclass|css_for_versionclass }}">
			<div class="panel-heading">
				<div class="package-repository">
				<a class="panel-heading-link" href="{{ url_for(endpoint='repository', repo=package.repo) }}">{{ repometadata[package.repo].desc }}</a>
				{%- if package.subrepo -%}
					<br><sup>{{ package.subrepo }}</sup>
				{%- endif -%}
				</div>
				<h3 class="package-name">
					{{- package.visiblename -}}
				</h3>
				<div class="package-version">
					{%- set is_vulnerable = package.flags is has_flag_at(16) -%}
					{%- set is_recalled = package.flags is has_flag_at(20) -%}
					{%- set is_fixed = package.version != package.origversion -%}
					<span class="
						{%- if is_fixed %} version-property-fixed{% endif -%}
						{%- if is_recalled %} version-property-recalled{% endif -%}
						"
						{%- if is_fixed %} title="Normalized from &quot;{{ package.origversion }}&quot;"{% endif -%}
					>
						{{- package.version -}}
						{%- if is_vulnerable %} <a href="{{ url_for(endpoint='project_cves', name=name, version=package.version) }}"><img src="{{ url_for_static(file="vulnerable.v1.svg") }}" alt="Potentially vulnerable"></a>{% endif -%}
					</span>
					{%- if package.rawversion != package.version %} ({{ package.rawversion }}){% endif -%}
					{%- if is_recalled %} (recalled){% endif -%}
				</div>
			</div>
			<ul class="list-group">
			{% if package.comment %}
				<li class="list-group-item"><b>Summary:</b><br>
					{{- package.comment -}}
				</li>
			{% endif %}
			{% if package.maintainers %}
				<li class="list-group-item"><b>Maintainer{% if package.maintainers|length > 1 %}s{% endif %}:</b>
					<ul class="list-package-details">
					{% for maintainer in package.maintainers %}
						<li><a href="{{ url_for(endpoint='maintainer', maintainer=maintainer) }}">{{ maintainer }}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if package.category %}
				<li class="list-group-item"><b>Category:</b>
					<ul class="list-package-details">
						<li>{{ package.category }}</li>
					</ul>
				</li>
			{% endif %}
			{% if package.licenses %}
				<li class="list-group-item"><b>License{% if package.licenses|length > 1 %}s{% endif %}:</b>
					<ul class="list-package-details">
					{% for license in package.licenses %}
						<li>{{ license }}</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if package.links %}
				<li class="list-group-item"><b>Link(s):</b>
					<ul class="list-package-details">
					{% for link_info in package.links %}
						{% set link_type = link_info[0] %}
						{% set link = links[link_info[1]] %}
						{% set link_url = link.url + '#' + link_info[2] if link_info|length > 2 else link.url %}
						<li><a href="{{ link_url }}">{{ format_link_type(link_type) }}</a>{{ link_status(link) }}</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			</ul>
		</div>
	</div>
{% endfor %}
</div>

</div> {#- container #}
{% endblock %}
