{% extends "_base.html" %}
{% from "_macros/time.html" import format_time_interval %}

{% block title %}Trending projects - Repology{% endblock %}
{% block header %}Trending projects{% endblock %}

{% block content %}
<div class="container">

{% macro trending_table(projects) -%}
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">Change</th>
					<th>Project</th>
					<th>Last change ago</th>
				</tr>
			</thead>
			<tbody>
			{% for project in projects %}
				<tr>
					<td class="text-center text-nowrap minimal-column">
					{%- if project.delta > 0 -%}
						<b class="delta-positive">▲</b><b>{{ project.delta|abs }}</b>
					{%- elif project.delta < 0 -%}
						<b class="delta-negative">▼</b><b>{{ project.delta|abs }}</b>
					{%- endif -%}
					</td>
					<td>{#--#}
						<a href="{{ url_for(endpoint='project_versions', name=project.effname) }}">{{ project.effname }}</a>
					{%- if project.has_related -%}
						<a href="{{ url_for(endpoint='project_related', name=project.effname) }}">∗</a>
					{%- endif -%}
					</td>
					<td>
						{{- format_time_interval(project.age_since_last_change) -}}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
{%- endmacro %}

<div class="row">
	<div class="col-md-6">
		<h3>Trending past month</h3>
		{{ trending_table(trending) }}
	</div>
	<div class="col-md-6">
		<h3>Declining past 3 months</h3>
		{{ trending_table(declining) }}
	</div>
</div>

</div> {#- container #}
{% endblock %}
