{% extends "_base.html" %}
{% from "_macros/time.html" import format_absolute_time, format_time_interval, timezone_abbr %}

{% block extrameta %}
	<meta http-equiv="robots" content="noindex">
{% endblock %}

{% block title %}Gone maintainer {{ maintainer }} - Repology{% endblock %}
{% block header %}Gone maintainer <strong>{{ maintainer }}</strong>{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-warning" role="alert">
	<p>Sorry, but Repology no longer knows maintainer <strong>{{ maintainer }}</strong>{% if maintainer_info.orphaned_at %} since {{ format_absolute_time(maintainer_info.orphaned_at) }}{{ timezone_abbr() }} ({{ format_time_interval(maintainer_info.orphaned_ago) }} ago){%- endif -%}.</p>
	<p>Some of the reasons which may have caused this:</p>
	<ul>
		<li>The maintainer no longer maintains any packages.</li>
		<li>The maintainer obfuscates his email in package metadata, so repology cannot parse it.</li>
		<li>The maintainer opted out from repology processing and was manually blacklisted.</li>
		<li>The maintainer opted to merge this entry into another one.</li>
		<li>Repology no longer supports any repositories this maintainer is active in. Check <a href="{{ url_for(endpoint='repositories_statistics') }}">the list</a>.</li>
		<li>The maintainer identifier (email) is misspelled, or have changed. Try <a href="{{ url_for(endpoint='maintainers') }}">searching</a>. It is quite common for only domain part to change.</li>
		<li>Repology is no longer able to parse maintainer information for repositories this maintainer is active in. Check <a href="{{ url_for(endpoint='repositories_fields') }}">repository support table</a>. This can be fixed if repositories in question setup a more complete dump of information on their packages.</li>
	</ul>
</div>

</div>
{% endblock %}
