{% extends "_base.html" %}

{% block extrameta %}
	<meta http-equiv="robots" content="noindex">
{% endblock %}

{% block title %}Cannot find project - Repology{% endblock %}
{% block header %}Cannot find project{% endblock %}

{% block content %}
<div class="container">

<div class="alert alert-danger" role="alert">
	<p>This link was supposed to redirect you to Repology project corresponding to
	{% if request.args.name_type == 'srcname' %}source{% elif request.args.name_type == 'binname' %}binary{% endif %}
	package name <b>{{ request.args.name }}</b> in repository identified as <b>{{ request.args.repo }}</b>,
	but it has failed
	{% if reason == 'no_repo' %}
	because the specified repository is not known to Repology. Either the identifier is misspelled, or the repository was removed from Repology.
	{% elif reason == 'no_package' %}
	because the specified package name was not found.
	{% endif %}
	</p>
	<p>You may want to report to the site you came from that their link need correction.</p>
</div>

</div>
{% endblock %}
