{% extends "security/_base.html" %}
{% from "_macros/autorefresh.html" import autorefresh_toggler, enable_autorefresh with context %}
{% from "_macros/time.html" import format_absolute_time, timezone_abbr %}

{% block extrameta %}
	{{ enable_autorefresh(3600 + randrange(60)) }}
{% endblock %}

{% block title %}Recent CVEs - Repology{% endblock %}
{% block header %}Recent CVEs{% endblock %}

{% block content %}
<div class="container">

<p>This is a list of recently published (in <a href="https://nvd.nist.gov/">NVD</a>) vulnerabilities linked to Repology projects. You may see vulnerabilities for a given project under <b>CVEs</b> tab (only present when there are matching vulnerabilities), and missing bindings may be reported via <b>Report</b> tab.</p>
<p><span class="bg-success">Highlighted</span> entries indicate matches due to recently (&lt;1 week ago) added <a href="{{ url_for(endpoint='security_recent_cpes') }}">CPE bindings</a>.</p>

{{ autorefresh_toggler() }}

{% if cves %}
<p><b>{{ cves|length }}</b> CVE(s) on this page, latest first</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="minimal-column">CVE</th>
			<th class="minimal-column">Published{{ timezone_abbr() }}</th>
			<th>Project(s)</th>
		</tr>
	</thead>
	<tbody>
	{% for cve in cves %}
		<tr{% if cve.recent %} class="success"{% endif %}>
			<td class="minimal-column"><a href="https://nvd.nist.gov/vuln/detail/{{ cve.cve_id }}">{{ cve.cve_id }}</a></td>
			<td class="minimal-column">{{ format_absolute_time(cve.published) }}</td>
			<td>
			{% for effname in cve.effnames %}
				<a href="{{ url_for(endpoint='project_versions', name=effname) }}">{{ effname }}</a>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">Nothing here yet</div>
{% endif %}

</div>
{% endblock %}
