{% extends "admin.html" %}

{% block title %}Manual CPE admin - Repology{% endblock %}
{% block header %}Manual CPE admin{% endblock %}

{% block content %}
<div class="container">

<form class="form-inline" action="{{ url_for_self() }}" method="POST">
	<input class="form-control" type="text" name="effname" placeholder="Project">
	<button type="submit" class="btn btn-warning" name="action" value="autoadd" title="Add all known CPEs for a project using its name as product">Auto add</button>
	<input class="form-control" type="text" name="cpe_vendor" placeholder="CPE vendor">
	<input class="form-control" type="text" name="cpe_product" placeholder="CPE product">
	<button type="submit" class="btn btn-primary" name="action" value="add">Add</button>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="text-center minimal-column">Project</th>
			<th class="text-center minimal-column">CPE vendor</th>
			<th class="text-center minimal-column">CPE product</th>
			<th class="text-center minimal-column">Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for cpe in cpes %}
		<tr>
			<td class="text-center minimal-column"><a href="{{ url_for('project_versions', name=cpe.effname) }}">{{ cpe.effname }}</a></td>
			<td class="text-center minimal-column">{{ cpe.cpe_vendor }}</td>
			<td class="text-center minimal-column">{{ cpe.cpe_product }}</td>
			<td class="text-center minimal-column">
			{%- if cpe.redundant -%}
				<span class="label label-warning" title="Identical automatic CPE info exists">Redundant</span>
			{%- endif -%}
			{%- if not cpe.has_project -%}
				<span class="label label-danger" title="Project doesn't exist">No project</span>
			{%- endif -%}
			{%- if not cpe.has_cves -%}
				<span class="label label-danger" title="No CVEs with given CPE">No CVEs</span>
			{%- endif -%}
			</td>
			<td>
				<form class="form-inlinest" action="{{ url_for_self() }}" method="POST">
					<input type="hidden" name="effname" value="{{ cpe.effname }}">
					<input type="hidden" name="cpe_vendor" value="{{ cpe.cpe_vendor }}">
					<input type="hidden" name="cpe_product" value="{{ cpe.cpe_product }}">
					<button type="submit" class="btn btn-danger btn-xs" name="action" value="remove">Remove</button>
				{% if not cpe.has_project %}
					<button type="submit" class="btn btn-warning btn-xs" name="action" value="redirect">Try redirect</button>
				{% endif %}
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}
