{% extends "admin.html" %}

{% block title %}Redirects admin - Repology{% endblock %}
{% block header %}Redirects admin{% endblock %}

{% block content %}
<div class="container">

<form class="form-inline" action="{{ url_for_self() }}" method="GET">
	<div class="form-group">
		<label class="control-label" for="project">Project</label>
		<input class="form-control" type="text" id="project" name="project" value="{{ project|default('', true) }}" placeholder="firefox">
	</div>
	<button type="submit" class="btn btn-default">Show redirects</button>
</form>

{% if project %}

<h3>Redirects for <a href="{{ url_for('project', name=project) }}">{{ project }}</a></h3>

<table class="table table-striped">
	{% if redirects %}
	<thead>
		<tr>
			<th class="text-center">Redirect</th>
			<th class="text-center">Type</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	{% endif %}
	<tbody>
	{% for redirect in redirects %}
	{% set incoming = project == redirect.newname %}
		<tr>
			<td class="text-{% if incoming %}right{% else %}left{% endif %} minimal-column">
			{%- if incoming -%}
				<a href="{{ url_for_self(project=redirect.oldname) }}">{{ redirect.oldname }}</a> ➡ <b>{{ redirect.newname }}</b>
			{%- else -%}
				<b>{{ redirect.oldname }}</b> ➡ <a href="{{ url_for_self(project=redirect.newname) }}">{{ redirect.newname }}</a>
			{%- endif -%}
			</td>
			<td class="text-center minimal-column">{% if redirect.is_manual %}manual{% else %}automatic{% endif %}</td>
			<td class="minimal-column">
			{%- if incoming and redirect.is_alive -%}
				<b class="text-warning">source project is alive</b>
			{%- elif incoming and not redirect.is_alive -%}
				<b class="text-success">source project is dead</b>
			{%- elif not incoming and redirect.is_alive -%}
				<b class="text-success">target project is alive</b>
			{%- elif not incoming and not redirect.is_alive -%}
				<b class="text-danger">target project is dead</b>
			{%- else -%}
				<b class="text-danger">unknown</b>
			{%- endif -%}
			<td>
				<a class="btn btn-default btn-xs" href={{ url_for('project', name=redirect.oldname if redirect.newname == project else redirect.oldname) }}>Go to</a>
			{%- if redirect.is_manual %}
				<form class="form-inlinest" action="{{ url_for_self(project=project) }}" method="POST">
					<input type="hidden" name="oldname" value="{{ redirect.oldname }}">
					<input type="hidden" name="newname" value="{{ redirect.newname }}">
					<button type="submit" class="btn btn-danger btn-xs" name="action" value="remove">Remove</button>
				</form>
				<form class="form-inlinest" action="{{ url_for_self(project=project) }}" method="POST">
					<input type="hidden" name="oldname" value="{{ redirect.oldname }}">
					<input type="hidden" name="newname" value="{{ redirect.newname }}">
					<button type="submit" class="btn btn-warning btn-xs" name="action" value="invert">Invert</button>
				</form>
			{% endif -%}
			</td>
		</tr>
	{% endfor %}
		<tr>
			<td colspan="4">
				<form class="form-inline" action="{{ url_for_self(project=project) }}" method="POST">
					<input class="form-control" type="text" name="redirect" placeholder="project">
					<button type="submit" class="btn btn-default" name="action" value="add_in">Add incoming</button>
					<button type="submit" class="btn btn-default" name="action" value="add_out">Add outgoing</button>
				</form>
			</td>
		</tr>
	</tbody>
</table>

{% endif %}

</div>
{% endblock %}
