{% extends "admin.html" %}
{% import "macros/cpes.html" as mcpes %}

{% block title %}Manual CPE admin - Repology{% endblock %}
{% block header %}Manual CPE admin{% endblock %}

{% block content %}
<div class="container">

<form action="{{ url_for_self() }}" method="POST">
<table>
	<tr>
		<td><label for="effname">project</label></td>

		<td><label for="cpe_vendor">vendor</label></td>
		<td><label for="cpe_product">product</label></td>
		<td><label for="cpe_edition">edition</label></td>
		<td><label for="cpe_lang">lang</label></td>
		<td><label for="cpe_sw_edition">sw_edition</label></td>
		<td><label for="cpe_target_sw">target_sw</label></td>
		<td><label for="cpe_target_hw">target_hw</label></td>
		<td><label for="cpe_other">other</label></td>
	</tr>
	<tr>
		<td><input class="form-control" type="text" name="effname" id="effname" placeholder="project" value="{{ request.form.effname }}"></td>

		<td><input class="form-control" type="text" name="cpe_vendor" id="cpe_vendor" placeholder="vendor" value="{{ request.form.cpe_vendor }}"></td>
		<td><input class="form-control" type="text" name="cpe_product" id="cpe_product" placeholder="product" value="{{ request.form.cpe_product }}"></td>
		<td><input class="form-control" type="text" name="cpe_edition" id="cpe_edition" placeholder="edition" value="{{ request.form.get('cpe_edition', '*') }}"></td>
		<td><input class="form-control" type="text" name="cpe_lang" id="cpe_lang" placeholder="lang" value="{{ request.form.get('cpe_lang', '*') }}"></td>
		<td><input class="form-control" type="text" name="cpe_sw_edition" id="cpe_sw_edition" placeholder="sw_edition" value="{{ request.form.get('cpe_sw_edition', '*') }}"></td>
		<td><input class="form-control" type="text" name="cpe_target_sw" id="cpe_target_sw" placeholder="target_sw" value="{{ request.form.get('cpe_target_sw', '*') }}"></td>
		<td><input class="form-control" type="text" name="cpe_target_hw" id="cpe_target_hw" placeholder="target_hw" value="{{ request.form.get('cpe_target_hw', '*') }}"></td>
		<td><input class="form-control" type="text" name="cpe_other" id="cpe_other" placeholder="other" value="{{ request.form.get('cpe_other', '*') }}"></td>
	</tr>
</table>

<button type="submit" class="btn btn-primary" name="action" value="add">Add</button>
<button type="submit" class="btn btn-warning" name="action" value="autoadd" title="Add all known CPEs for a project using its name as product">Auto add</button>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="minimal-column">Project</th>
			<th class="minimal-column">CPE</th>
			<th class="text-center minimal-column">Proj</th>
			<th class="text-center minimal-column">CVEs</th>
			<th class="text-center minimal-column">Dict</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for cpe in cpes %}
		<tr>
			<td class="minimal-column"><a href="{{ url_for('project_versions', name=cpe.effname) }}">{{ cpe.effname }}</a></td>
			<td class="minimal-column">{{ mcpes.panels(cpe) }}</td>
			<td class="text-center minimal-column">
			{%- if cpe.has_alive_project -%}
				<span class="label label-success">alive</span>
			{%- elif cpe.has_project_redirect -%}
				<span class="label label-danger">redirect</span>
			{%- else -%}
				<span class="label label-warning">missing</span>
			{%- endif -%}
			</td>
			<td class="text-center minimal-column">
			{%- if cpe.has_cves -%}
				<span class="label label-success">yes</span>
			{%- else -%}
				<span class="label label-warning">no</span>
			{%- endif -%}
			</td>
			<td class="text-center minimal-column">
			{%- if cpe.has_dict -%}
				<span class="label label-success">yes</span>
			{%- else -%}
				<span class="label label-warning">no</span>
			{%- endif -%}
			</td>
			<td>
				<form class="form-inlinest" action="{{ url_for_self() }}" method="POST">
					<input type="hidden" name="effname" value="{{ cpe.effname }}">
					<input type="hidden" name="cpe_vendor" value="{{ cpe.cpe_vendor }}">
					<input type="hidden" name="cpe_product" value="{{ cpe.cpe_product }}">
					<input type="hidden" name="cpe_edition" value="{{ cpe.cpe_edition }}">
					<input type="hidden" name="cpe_lang" value="{{ cpe.cpe_lang }}">
					<input type="hidden" name="cpe_sw_edition" value="{{ cpe.cpe_sw_edition }}">
					<input type="hidden" name="cpe_target_sw" value="{{ cpe.cpe_target_sw }}">
					<input type="hidden" name="cpe_target_hw" value="{{ cpe.cpe_target_hw }}">
					<input type="hidden" name="cpe_other" value="{{ cpe.cpe_other }}">
					<button type="submit" class="btn btn-danger btn-xs" name="action" value="remove">Remove</button>
					{% if cpe.has_project_redirect %}
					<button type="submit" class="btn btn-warning btn-xs" name="action" value="redirect">Follow redirect</button>
					{% endif %}
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}
