{% extends "layout.html" %}

{% block title %}Experimental features - Repology{% endblock %}
{% block header %}Experimental features{% endblock %}

{% block content %}
<div class="container">

<ul>
	<li><a href="{{ url_for('maintainers_turnover') }}">Maintainers turnover</a> - lists of maintainers added and removed recently.
		<ul>
			<li>Needs to gather some history of removed maintainers.</li>
		</ul>
	</li>
	<li><a href="{{ url_for('distromap') }}">Distromap</a> - get a mapping of package names from one distro to another.
		<ul>
			<li>Slow, may need a facility for background task execution.</li>
		</ul>
	</li>
	<li><a href="{{ url_for('important_updates') }}">Important updates</a> - 100 most important updates from latest 24h.
		<ul>
			<li>May include unexpected items such as version rollbacks after ignoring fakes.</li>
		</ul>
	</li>
</ul>

<p>You may also enable experimental mode to activate experimental features sitewide (note that you need cookies enabled for this). Currently tested features:</p>

<ul>
	<li><b>None</b></li>
</ul>

<form action="{{ url_for_self() }}" method="POST">
{% if not session.experimental %}
<button type="submit" class="btn btn-danger" name="experimental" value="enable">Enable experimental features</button>
{% else %}
<button type="submit" class="btn btn-primary" name="experimental" value="disable">Disable experimental features</button>
{% endif %}
</form>

</div> {#- container #}
{% endblock %}
