{% extends "layout.html" %}

{% block title %}Repology news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3 id="2021-05-25">2021-05-25</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='melpa_stable') }}">MELPA Stable</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-05-01">2021-05-01</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='rocky_8') }}">Rocky Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-03-25">2021-03-25</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='almalinux_8') }}">AlmaLinux</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='postmarketos_21.03') }}">postmarketOS</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2021-03-15">2021-03-15</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='sagemath_stable') }}">SageMath</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2021-02-26">2021-02-26</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='artix') }}">Artix</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-02-02">2021-02-02</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='openmamba') }}">openmamba</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-12-08">2020-12-08</h3>
	<ul>
		<li>Pagination now available for problems lists.</li>
	</ul>
</article>

<article>
	<h3 id="2020-12-02">2020-12-02</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='aixtoolbox') }}">AIX Toolbox</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-11-25">2020-11-25</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='apertis_v2020') }}">Apertis</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2020-11-05">2020-11-05</h3>
	<ul>
		<li>Readded <a href="{{ url_for('repository', repo='pypi') }}">PyPI</a> repository. It required setting up a <a href="https://pypicache.repology.org/">dedicated service</a>, as PyPI developers do not care to provide usable data.</li>
	</ul>
</article>

<article>
	<h3 id="2020-10-22">2020-10-22</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='chaotic-aur') }}">Chaotic-AUR</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-09-29">2020-09-29</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='mports') }}">MidnightBSD Mports</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='gentoo_ovl_science') }}">Gentoo Science overlay</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-07-26">2020-07-26</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='rebornos') }}">RebornOS</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-07-25">2020-07-25</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='ibmi') }}">IBM i</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-05-24">2020-05-24</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='winget') }}">winget</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-05-18">2020-05-18</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='ataraxia') }}">Ataraxia Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-05-17">2020-05-17: Vulnerable versions reporting launched in beta mode</h3>
	<ul>
		<li>Project versions which may be affected by known CVEs are marked as such in project list
			and project pages (<a href="{{ url_for('project_versions', name='wget') }}">example</a>).</li>
		<li>Counters of potentially vulnerable packages/projects available for <a href="{{ url_for('repositories_statistics') }}">repositories</a>
			and maintainers (<a href="{{ url_for('maintainer', maintainer='ports@freebsd.org') }}">example</a>) are available.</li>
		<li>List of known CVEs for each project is available (<a href="{{ url_for('project_cves', name='wget') }}">example</a>).</li>
		<li>Filtering based on potentially vulnerable status is available in projects list
			(<a href="{{ url_for('projects', inrepo='gentoo', vulnerable=1) }}">example</a>).</li>
		<li>CPE related problems are reported for repositories which provide CPE information
			(currently Gentoo family and Ravenports).</li>
	</ul>
	<p>Possible shortcomings:</p>
	<ul>
		<li>CPE information needed to match CVEs and projects may be missing for most of the latter. We rely on
			repositories providing CPE information (currently Gentoo family and Ravenports) and manual bindings,
			but both are currently far from being complete. This is going to gradually improve, feel free to submit
			reports/issues on missing CVE information.</li>
		<li>Repology currently has no way to know that a certain vulnerability was patched in some repository,
			so even if that's so, version will still be marked as "potentially vulnerable". If you're interested
			in fixed this, see related <a href="https://github.com/repology/repology-updater/issues/1045">Issue</a>.</li>
		<li>Both false positives and false negatives are possible for a lot of other reasons, including incorrect
			data in <a href="https://nvd.nist.gov">National Vulnerability Database</a> itself. See more related
			issues on <a href="https://github.com/repology/repology-updater/issues/1043">general improvements</a>
			and <a href="https://github.com/repology/repology-rules/issues/367">individual cases</a>. However,
			total number of errors is quite low and is going to improve further too.</li>
	</ul>
</article>

<article>
	<h3 id="2020-05-11">2020-05-11</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='siduction_unstable') }}">Siduction</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-05-09">2020-05-09</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='liguros_21_1') }}">LiGurOS</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2020-04-10">2020-04-10</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='openeuler_20_03') }}">openEuler</a> repository.</li>
		<li>Added Gentoo <a href="{{ url_for('repository', repo='gentoo_ovl_guru') }}">GURU</a> overlay.</li>
	</ul>
</article>

<article>
	<h3 id="2020-03-19">2020-03-19</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='conancenter') }}">ConanCenter</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-01-09">2020-01-09</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='carbs') }}">Carbs Linux</a> repository.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
