{% extends "layout.html" %}

{% block title %}Repology news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3 id="2022-09-21">2022-09-21</h3>
	<ul>
		<li><a href="{{ url_for('repository', repo='buckaroo') }}">buckaroo</a> repository removed.</li>
	</ul>
</article>

<article>
	<h3 id="2022-04-28">2022-04-28</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='pacstall') }}">pacstall</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2022-01-17">2022-01-17</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='yiffos_knot') }}">yiffOS</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2022-01-12">2022-01-12</h3>
	<ul>
		<li>Added Security section with a list of <a href="{{ url_for('security_recent_cves') }}">recent vulnerabilities</a> with related Repology projects and a list of <a href="{{ url_for('security_recent_cpes') }}">recently added CPE bindings</a>.</li>
		<li>Added <a href="{{ url_for('repository', repo='endlessos_4_0') }}">Endless OS</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2021-11-14">2021-11-14</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='baulk') }}">Baulk</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-10-26">2021-10-26</h3>
	<ul>
		<li>Linuxbrew has <a href="https://brew.sh/2021/10/25/homebrew-3.3.0/">merged</a> into <a href="{{ url_for('repository', repo='homebrew') }}">Homebrew</a>, so separate Linuxbrew repository was removed.</li>
	</ul>
</article>

<article>
	<h3 id="2021-09-06">2021-09-06</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='mpr') }}">MPR</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-08-26">2021-08-26</h3>
	<ul>
		<li>Added versioned Debian repositories <a href="{{ url_for('repository', repo='debian_8') }}">8</a>, <a href="{{ url_for('repository', repo='debian_9') }}">9</a>, <a href="{{ url_for('repository', repo='debian_10') }}">10</a>, <a href="{{ url_for('repository', repo='debian_11') }}">11</a>, <a href="{{ url_for('repository', repo='debian_12') }}">12</a> as well as corresponding backports, where available. "Debian Stable" and "Debian Testing" repositories are now deprecated and will be removed in 2 months. History and events of new repositories will start from scratch, as migration deemed to be too difficult.</li>
		<li>Added <a href="{{ url_for('repository', repo='noir') }}">NOIR Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-08-18">2021-08-18</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='spack') }}">Spack</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-07-15">2021-07-15</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='ubi_8') }}">UBI</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-06-30">2021-06-30</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='sclo') }}">Software Collections</a> repository.</li>
		<li>
			<p>RPM version parsing improved:</p>
			<ul>
				<li>Prerelease suffixes (<code>alphaX</code>, <code>betaX</code>, <code>rcX</code> etc.) are now parsed from RPM <code>release</code> field and appended to the <code>version</code>. This fixes a lot of false new versions from RPM repos.</li>
				<li>Versions from RPM repos are now ignored when <code>release</code> field suggest a snapshot (starts with zero, contains dates or git commits).</li>
				<li>All RPM parsers now use unified logic.</li>
			</ul>
		</li>
	</ul>
</article>

<article>
	<h3 id="2021-05-25">2021-05-25</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='melpa_stable') }}">MELPA Stable</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-05-01">2021-05-01</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='rocky_8') }}">Rocky Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-03-25">2021-03-25</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='almalinux_8') }}">AlmaLinux</a> repository.</li>
		<li>Added <a href="{{ url_for('repository', repo='postmarketos_21.03') }}">postmarketOS</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2021-03-15">2021-03-15</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='sagemath_stable') }}">SageMath</a> repositories.</li>
	</ul>
</article>

<article>
	<h3 id="2021-02-26">2021-02-26</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='artix') }}">Artix</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2021-02-02">2021-02-02</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='openmamba') }}">openmamba</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2020-12-08">2020-12-08</h3>
	<ul>
		<li>Pagination now available for problems lists.</li>
	</ul>
</article>

<article>
	<h3 id="2020-12-02">2020-12-02</h3>
	<ul>
		<li>Added <a href="{{ url_for('repository', repo='aixtoolbox') }}">AIX Toolbox</a> repository.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
