{% extends "_base.html" %}

{% block title %}Repology news{% endblock %}
{% block header %}News{% endblock %}

{% block content %}
<div class="container">

<article>
	<h3 id="2024-09-23">2024-09-23</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='openvsx') }}">Open VSX</a> VS Code extension registry.
			Unfortunately it currently only <a href="{{ url_for(endpoint='projects', search='vscode:', families='2-') }}">intersects</a>
			with Nix repository, so we encourage all repositories to use compatible and unambiguous naming scheme for vscode extensions, which
			contains dot-separated namespace and extension name, for instance <code>vscode-ms-python.flake8</code>.
		</li>
	</ul>
</article>

<article>
	<h3 id="2024-09-17">2024-09-17</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='tur') }}">Termux User Repository</a>.</li>
	</ul>
</article>

<article>
	<h3 id="2024-07-23">2024-07-23</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='opam') }}">opam</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2024-07-18">2024-07-18</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='serpentos') }}">Serpent OS</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2024-07-08">2024-07-08</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='chromebrew') }}">Chromebrew</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2024-04-09">2024-04-09</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='chimera') }}">Chimera Linux</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2023-08-28">2023-08-28</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='buildroot_master') }}">Buildroot</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2023-06-01">2023-06-01</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='bioarch') }}">BioArch</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2023-03-28">2023-03-28</h3>
	<ul>
		<li>Added <a href="{{ url_for(endpoint='repository', repo='wakemeops') }}">WakeMeOps</a> repository.</li>
	</ul>
</article>

<article>
	<h3 id="2023-02-06">2023-02-06</h3>
	<ul>
		<li>IPv6 is now treated as primary protocol for link checking: IPv4 check is now skipped if IPv6 check succeeds. The way link check status is displayed is now more verbose and readable. For the record, more than 51% links (including upstream homepages and downloads, package pages, repositories and recipes) known to Repology already support IPv6.</li>
	</ul>
</article>

</div> {#- container #}
{% endblock %}
