{% extends "repositories.html" %}
{% import "macros/autorefresh.html" as _autorefresh with context %}

{% block extrameta %}
{{ _autorefresh.meta(3600 + randrange(60)) }}
{% endblock %}

{% block title %}Repository support details - Repology{% endblock %}
{% block header %}Repository support details{% endblock %}

{% block content %}
<div class="container">

<p>A table of supported data fields for each repository. Note that homepage information is crucial for distinguishing unrelated projects with similar names, so it will become mandatory in the near future, and repositories not providing are subject for removal.</p>

{{ _autorefresh.toggler() }}

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-right">Repository</th>
			<th class="text-center">Summary</th>
			<th class="text-center">Maintainer</th>
			<th class="text-center">Categories</th>
			<th class="text-center">Homepage</th>
			<th class="text-center">License</th>
			<th class="text-center">Downloads</th>
			{% if session.admin %}
			<th class="text-center" title="name">N</th>
			<th class="text-center" title="srcname">sN</th>
			<th class="text-center" title="binname">bN</th>
			<th class="text-center" title="trackname">TN</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
	{% for reponame in repometadata.active_names() %}
		<tr id="{{ reponame }}">
			<th class="text-right">
				<a href="{{ url_for('repository', repo=reponame) }}">{{ repometadata[reponame].desc }}</a>
			</th>

			{% set used = repometadata[reponame].used_package_fields %}

			{% set anyurl = 'homepage' in used or 'downloads' in used %}
			<td class="text-center">{% if 'comment' in used %}✔{% endif %}</td>
			<td class="text-center">{% if 'maintainers' in used %}✔{% endif %}</td>
			<td class="text-center">{% if 'category' in used %}✔{% endif %}</td>
			<td class="text-center">
				{%- if 'homepage' in used %}✔
				{%- elif not anyurl %}<span class="text-danger" title="Either Homepage or Downloads are required">✘</span>{% endif -%}
			</td>
			<td class="text-center">{% if 'licenses' in used %}✔{% endif %}</td>
			<td class="text-center">
				{%- if 'downloads' in used %}✔
				{%- elif not anyurl %}<span class="text-danger" title="Either Homepage or Downloads are required">✘</span>{% endif -%}
			</td>
			{% if session.admin %}
			{% set anyname = 'name' in used or 'srcname' in used or 'binname' in used %}
			<td class="text-center">{% if 'name' in used %}✔{% elif not anyname %}<span class="text-danger" title="Either of name, srcname, binname eventually required">✘</span>{% endif %}</td>
			<td class="text-center">{% if 'srcname' in used %}✔{% elif not anyname %}<span class="text-danger" title="Either of name, srcname, binname eventually required">✘</span>{% endif %}</td>
			<td class="text-center">{% if 'binname' in used %}✔{% elif not anyname %}<span class="text-danger" title="Either of name, srcname, binname eventually required">✘</span>{% endif %}</td>
			<td class="text-center">{% if 'trackname' in used %}✔{% else %}<span class="text-danger" title="Eventually required">✘</span>{% endif %}</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div> {#- container #}
{% endblock %}
