<ul>
	<li><b>Linux repositories:</b> Adélie, Alpine, ALT, Amazon Linux, antiX, AOSC, Arch and AUR, Ataraxia, BlackArch, Calculate, Carbs, CentOS, Chakra, CRUX, Debian, Deepin, Devuan, Distri, ELRepo, Entware-ng, EPEL, Exherbo, Fedora, Funtoo, Gentoo, Guix, GoboLinux, Hyperbola, KaOS, KISS, Kwort, LiGurOS, Linuxbrew, Maemo, Mageia, Manjaro, Mer Project, Mint, MX Linux, Nix, openEuler, OpenMandriva, openSUSE, OpenWrt, Parabola, Pardus, Parrot, PCLinuxOS, Pisi, PLD Linux, PureOS, Raspbian, RebornOS, Rosa, Sabayon, Salix, Siduction, SlackBuilds, Slackware, SliTaz, Solus, SparkyLinux, T2 SDE, Tails, Trisquel, Ubuntu, Void</li>
	<li><b>*BSD repositories:</b> DragonFly DPorts, FreeBSD ports, OpenBSD packages, pkgsrc, Ravenports</li>
	<li><b>Third party repositories:</b> Deb Multimedia, Gentoo overlays, KDE neon, OpenPKG, openSUSE additional repositories, PackMan, UnitedRPMs, RPM Fusion, RPM Sphere</li>
	<li><b>Other *nix repositories:</b> AIX Open Source Packages, HaikuPorts, Homebrew, HP-UX, IBM i, OpenIndiana, MacPorts</li>
	<li><b>And non-*nix repositories:</b> Chocolatey, ConanCenter, Cygwin, F-Droid, just-install, MSYS2 (msys2, mingw), Npackd, OS4Depot, ReactOS rapps, Scoop, Termux, Vcpkg, winget, YACP</li>
	<li><b>Upstream module collections or programming language specific package managers:</b> Buckaroo, CPAN, CRAN, crates.io, GNU ELPA, Hackage, LuaRocks, MELPA, <span class="unsupported-repository" title="Not currently available due to no way to get the package data">PyPi</span>, RubyGems, Stackage</li>
	<li><b>F/OSS news sites:</b> DistroWatch, freshcode.club, libregamewiki</li>
	<li><b>Other sources:</b> Wikidata</li>
</ul>
